<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.masader.masader">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoo"
        android:label="إعرف مصادرك"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.masader.masader.spalsh_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.masader.masader.page4" />
        <activity android:name="com.masader.masader.page3" />
        <activity android:name="com.masader.masader.Main2Activity" />
        <activity android:name="com.masader.masader.page2" />
        <activity
            android:name="com.masader.masader.MainActivity"
            android:label="اعرف مصادرك"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
    </application>

</manifest>